@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-base text-ink font-body;
}

* {
  -webkit-tap-highlight-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
